@{
    ViewData["Title"] = "About Us";
}
    <div class="container my-5">
      <h1 class="text-center" >About Us</h1>
      <hr>
      <h1 class="text-center" style="font-size:30px;margin-top: 40px;font-weight: 700;">OUR VISION, MISSION AND VALUES</h1>
      <p style="font-size: 30px;font-weight: 500;color:#D35C5C;">Our Mission.</p>
      <p>Road Safety Support is a not-for-profit company, providing a unique range of specialist services to local authorities, the police, and other organisations in the country and overseas that share our commitment to road casualty reduction.</p>
      <p style="font-size: 30px;font-weight: 500;color:#D35C5C;">Our Vision:</p>
      <p> To be recognised worldwide for our work in saving lives through enabling smarter enforcement, changing driver behaviour for the better and ensuring those who break the law are dealt with effectively.</p>
      <p style="font-size: 30px;font-weight: 500;color:#D35C5C;">Our Values:</p>
      <p><li>We are committed to reducing death and life changing injuries on the roads. This is our priority, and underpins all our work. We are passionate about this task.</li>
        <li>We will work with all others who share that passion.</li>
        <li>We will advise them honestly, always putting the interests of the public and our members above our own.</li>
        <li>We can best support them by ensuring our expertise is always up to the minute, informed and correct.</li>
        <li>We will constantly review and develop our services to meet our members’ needs.</li>
      </p>
      <div class="rows" style="background-color:# ; text-align: center;font-size: 30px;margin-top: 50px;height: 100px;align-items: center;padding-top: 20px;font-weight: 700;">Road Safety Support</div>
    </div>