<div class="heading">
    <h1 class="hno">Emergency Contact Number</h1>
</div>
<div class="row px-lg-5 mt-lg-5">
    <div class="col12 m-3 p-lg-5">

        <div class="card12-body">
            <h1 class="fw-bold">Police Helpline Number</h1>
            <!-- <p class="card12-text mt-lg-5">Some quick example text to build on the card12 title and make up the bulk
                of the
                card12's content.</p> -->
            <ul>
                <li>Gujarat - 100</li>
                <li>Assam - 112</li>
                <li>Kerala - 100</li>
                <li>Sikkim - 100</li>
                <li>WestBengal - 112</li>
            </ul>
        </div>
    </div>
    <div class="col12 m-3 p-lg-5">

        <div class="card12-body">
            <h1 class="fw-bold">Ambulance Helpline Number</h1>
            <!-- <p class="card12-text mt-lg-5">Some quick example text to build on the card12 title and make up the bulk
                of the
                card12's content.</p> -->
            <ul>
                <li>Gujarat - 108</li>
                <li>Maharashtra - 108</li>
                <li>Bihar - 102</li>
                <li>Nagaland - 102</li>
                <li>Odisha - 108</li>
            </ul>
        </div>
    </div>
</div>
<div class="row px-lg-5 mt-lg-5">
    <div class="col12 m-3 p-lg-5">

        <div class="card12-body">
            <h1 class="fw-bold">Fire Brigade Helpline Number</h1>
            <!-- <p class="card12-text mt-lg-5">Some quick example text to build on the card12 title and make up the bulk
                of the
                card12's content.</p> -->
            <ul>
                <li>Gujarat - 101</li>
                <li>Haryana - 101</li>
                <li>Telangana - 101</li>
                <li>Rajashthan - 101</li>
                <li>Uttrakhand - 101</li>
            </ul>
        </div>
    </div>
    <div class="col12 m-3 p-lg-5">

        <div class="card12-body">
            <h1 class="fw-bold">Highway Patrol</h1>
            <!-- <p class="card12-text mt-lg-5">Some quick example text to build on the card12 title and make up the bulk
                of the
                card12's content.</p> -->
            <ul>
                <li>Gujarat - 9978912345</li>
                <li>Assam - 108/1033</li>
                <li>Goa - 1077</li>
                <li>Haryana - 9812011453</li>
                <li>Aandhra Pradesh - 112/1073</li>
            </ul>

        </div>
    </div>
</div>