@{
    ViewData["Title"] = "Home Page";
}

<div class="car">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active c-item">
                <img src="./css/images/car-1.png" class="d-block w-100 c-img" alt="...">
            </div>
            <div class="carousel-item c-item">
                <img src="./css/images/car-2.png" class="d-block w-100 c-img" alt="...">
            </div>
            <div class="carousel-item c-item">
                <img src="./css/images/car-3.png" class="d-block w-100 c-img" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<div class="container-fluid">
    <div class="row cr1">
        <div class="col cp1">
            <div class="col death">No. of Deaths in last 5 Years</div>
            <div class="col deathno">747,361+</div>
        </div>
        <div class="col cp2">
            <div class="col accident">No of Accidents in last 5 Years</div>
            <div class="col accidentno">2,363,031+</div>
        </div>
        <div class="col cp3">
            <div class="col damage">Pedestrian Deaths in last 5 year</div>
            <div class="col damageno">1,22,094+</div>
        </div>
    </div>
</div>
<div class="row mt-5">
    <div class="col cardclass">
        <div class="card">
            <img src="./css/Images/hos1.png" class="card-img-top cardimgclass" alt="...">
            <div class="card-body text-center">
                <h5 class="card-title">Nearest Hospitals</h5>

                <a href="https://ppahs.org/?gclid=Cj0KCQiAo-yfBhD_ARIsANr56g4lFFgcvSlD5uqAn0n3Qdq5IhQfUZawwNLeQClAE_3JZoNSMAIIseMaAloYEALw_wcB" class="btn btn-primary">Click Here</a>
            </div>
        </div>
    </div>
    <div class="col cardclass ngoclass">
        <div class="card ">
            <img src="./css/Images/newngo.png" class="card-img-top cardimgclass" alt="...">
            <div class="card-body text-center ">
                <h5 class="card-title classngo">Nearest NGO's</h5>
                <a href="https://myangelsacademy.org/about-us/?gclid=Cj0KCQiAo-yfBhD_ARIsANr56g6Q9VxiY5jneA_Tl-Aeb9hEYjaBTVTdpN6mPh-pdoC-ZyDY8v53qO8aAqkIEALw_wcB" class="btn btn-primary">Click Here</a>
            </div>
        </div>
    </div>
    <div class="col cardclass">
        <div class="card">
            <img src="./css/Images/blood3.png" class="card-img-top cardimgclass" alt="...">
            <div class="card-body text-center bb">
                <h5 class="card-title ">Nearest Blood Banks</h5>
                <a href="https://globalbloodfund.org/global-need/work/?gclid=Cj0KCQiAo-yfBhD_ARIsANr56g5rdmBMpS7Ea8iOAf7_in170GYSnjUywzTSBrWoRWS0Oz2TLEdHLd4aAh5PEALw_wcB" class="btn btn-primary">Click Here</a>
            </div>
        </div>
    </div>
</div>

