<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - Accident Related Website</title>
    <!-- Bootstrap CSS -->
   @* <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">*@
    <!-- Custom CSS -->
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container1"></div>
    <img class="image1" src="https://img.freepik.com/premium-vector/cars-city-road-people-walking-with-dog-riding-bike-street-urban-infrastructure-transport-traffic-flat-vector-driverless-car-illustration-road-city-people-dog-bicycle_102902-4101.jpg?w=2000" class="img-fluid" alt="...">
    <div>
        <h1 style="text-align: center;margin-top: 30px;">SAFETY TIPS</h1>
        <p style="text-align: center;">Tips to keep yourself and others safe on roads</p>
    </div>
    <div class="container1">
        <div class="box11 box11-1">
            <h2 class="b11">Drive with low beam</h2>
            <p class="p11">Reduce your speed to avoid crashing into stationary vehicles. Fog creates the illusion of slow motion when you may actually be speeding.</p>
        </div>
        <div class="box11 box11-2">
            <h2 class="b11">Reduce your speed</h2>
            <p class="p11">Listen for traffic you cannot see. Avoid playing loud music and open your windows slightly to keep alert.</p>
        </div>
        <div class="box11 box11-3">
            <h2 class="b11">Listen for traffic you cannot see</h2>
            <p class="p11">Follow painted lane markings as a guide in case of zero-visibility and watch out for stationary vehicles.</p>
        </div>
        <div>
            <h1 style="text-align: center;margin-top: 30px;">Fines and Penalties for Rash Driving.</h1>
            <p style="text-align: center;">Tips to keep yourself and others safe on roads</p>
        </div>
        <div class="aa11">
            <span class="x1">Speeding</span>
            <p>
                Fines for speeding can vary depending on the speed limit, the speed at which the driver was traveling, and the jurisdiction. In some cases, excessive speeding can result in license suspension or even jail time.
            </p>

            <span class="x1">Running a red light or stop sign</span>
            <p>
                Fines for running a red light or stop sign can also vary depending on the jurisdiction. In some cases, this can result in points on the driver's license, a license suspension, or even jail time.
            </p>
            <span class="x1">DUI or DWI</span>
            <p>
                Driving under the influence of drugs or alcohol is a serious offense and can result in fines, license suspension or revocation, and even jail time. Repeat offenders may face even harsher penalties.
            </p>

            <span class="x1">Reckless driving</span>
            <p>
                Reckless driving can include a range of offenses, such as driving too fast for conditions, tailgating, and weaving in and out of traffic. This can result in fines, points on the driver's license, and even jail time.
            </p>
        </div>

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>