
<div>
    <div class="row loc1">
        <div class="col"><a class="ca" asp-controller="CAU_Cause" asp-action=""><button class="btn btn-dark btn-lg">Cause</button></a></div>
        <div class="col"><a class="ca" asp-controller="LOC_Location" asp-action="Index"><button class="btn btn-dark btn-lg">Location</button> </a></div>
        <div class="col"><a class="ca" asp-controller="MST_Accident" asp-action="Index"><button class="btn btn-dark btn-lg">Accident</button></a></div>
        <div class="col"><a class="ca" asp-controller="PER_Hospital" asp-action="Index"><button class="btn btn-dark btn-lg">Hospital</button></a></div>
        <div class="col"><a class="ca" asp-controller="PER_Person" asp-action="Index"><button class="btn btn-dark btn-lg">Person</button></a></div>
        <div class="col"><a class="ca" asp-controller="PER_Vehicle" asp-action="Index"><button class="btn btn-dark btn-lg">Vehicle</button></a></div>
        <div class="col"><a class="ca" asp-controller="SER_Severity" asp-action="Index"><button class="btn btn-dark btn-lg">Severity</button></a></div>
        <div class="col"><a class="ca" asp-controller="WET_Weather" asp-action="Index"><button class="btn btn-dark btn-lg">Weather</button></a></div>
    </div>
</div>
